.App {
  text-align: center;
}


.header {
  background-color: #bbffae;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  text-align: center;
  height: 3rem;
}

.article-card {
  text-align: left;
  float: left;
  background-color: rgb(255, 143, 143);
  outline-style: auto;
  outline-color: red;
  padding: 1em;
  font-size: 1rem;
}

.comment-card {
  text-align: left;
  float: left;
  background-color: rgb(235, 169, 255);
  outline-style: auto;
  outline-color: rgb(138, 49, 255);
  padding: 1em;
  font-size: 1rem;
}